<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card mb-5">
          <div class="card-body p-5" *ngIf="authService.isLoggedIn(); else noUser">
            <!-- Primitive values (string, num, boolean, object references) are passed by value (copied),
              objects and arrays are passed by reference (both components get a reference to the same
              object instance). -->
            <div class="task-editor-wrapper">
              <!-- Task is passed as primitive (by value) -->
              <app-task-editor (clearTaskEvent)="clearTask()"
                [taskTask]="task.task" [deadline]="task.deadline!"
                [id]="task.id" [completed]="task.completed!"></app-task-editor>
              </div>
            <app-task-viewer (updateEvent)="receiveUpdate($event)" (deleteEvent)="receiveDelete($event)"></app-task-viewer>
            <div class="text-end">
              <button class="btn btn-sm btn-outline-danger btn-floating" title="Logout" (click)="signOut()">
                <i class="fa-solid fa-power-off"></i>
              </button>
            </div>
          </div>
          <ng-template #noUser>
            <app-auth></app-auth>            
          </ng-template>          
        </div>
      </div>
    </div>
  </div>
</section>
<app-pre-loader *ngIf="preLoader.isLoading()"></app-pre-loader>