<form class="d-flex gap-2 flex-wrap align-items-center justify-content-md-center mb-4" autocomplete="off">
    
    <mdb-form-control class="flex-grow-1">
        <input mdbInput type="text" name="task" id="form2" class="form-control" [(ngModel)]="taskTask" 
        #taskInput />
        <label mdbLabel class="form-label" for="form2">New task...</label>
    </mdb-form-control>

    <div class="flex-grow-1 flex-sm-grow-0 mw-100">
        <div class="datepicker-input-wrapper">
            <input
                class="form-control"
                name="deadline"
                [(ngModel)]="deadline"
                [class.show-datetime-edit]="deadline"
                [ngxMatDatetimePicker]="pickerCustomIcon"
                placeholder="Choose a date"
                [min]="minDate"
                [max]="maxDate"
                readonly
                (click)="pickerCustomIcon.open()"
            />

            <ngx-mat-datepicker-toggle
                matSuffix
                [for]="pickerCustomIcon"
                (click)="setDefaultTime()"
                class="datepicker-toggle"
            ></ngx-mat-datepicker-toggle>
        </div>

        <ngx-mat-datetime-picker
            #pickerCustomIcon
            [showSeconds]="false"
            [enableMeridian]="true"
            [color]="color"
            [defaultTime]="defaultTime"
            (opened)="setDefaultTime()"
        >
            <ngx-mat-datepicker-actions>
            <button mat-button ngxMatDatepickerCancel>Cancel</button>
            <button mat-raised-button ngxMatDatepickerApply class="apply">
                Apply
            </button>
            </ngx-mat-datepicker-actions>
        </ngx-mat-datetime-picker>
    </div>

    <div mdbDropdown class="btn-group flex-grow-1 flex-md-grow-0">
        <button type="submit" class="btn btn-info" (click)="add()"
        [disabled]="preLoader.isLoading()">{{id ? 'Update' : 'Add'}}</button>
        <button
        type="button"
        class="btn btn-info dropdown-toggle dropdown-toggle-split"
        mdbDropdownToggle
        aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul mdbDropdownMenu class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="clear()">Clear</button></li>
        </ul>
    </div>
    
</form>