<form class="d-flex justify-content-center align-items-center mb-4" autocomplete="off">
    <div class="form-outline flex-fill">
        <input type="text" name="task" id="form2" class="form-control" [(ngModel)]="taskTask" 
        #taskInput />
        <!-- fixed floating label bug. See component's .ts file -->
        <label class="form-label" for="form2">New task...</label>
    </div>
    <div>
        <input class="form-control" name="deadline" type="datetime-local" [(ngModel)]="deadline"
        [class.show-datetime-edit]="deadline">
    </div>
    <div class="btn-group ms-2">
        <button type="submit" class="btn btn-info" (click)="add()"
        [disabled]="preLoader.isLoading()">{{id ? 'Update' : 'Add'}}</button>
        <button
        type="button"
        class="btn btn-info dropdown-toggle dropdown-toggle-split"
        data-mdb-toggle="dropdown"
        aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" (click)="clear()">Clear</button></li>
        </ul>
    </div>
</form>