<app-task-tabs (filterEvent)="receiveUpdate($event)"></app-task-tabs>

<!-- Tabs content -->
<div class="tab-content" id="ex1-content">

    <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="form20" class="form-control form-icon-trailing" [(ngModel)]="searchFilter"/>
        <label mdbLabel class="form-label" for="form20">Search for tasks</label>
    </mdb-form-control>

    <div class="tab-pane fade show active" role="tabpanel">

        <div *ngIf="taskService.tasks && (taskService.tasks | filterByImpure: [filterAttribute]: filterValue | search: searchFilter).length == 0">
            <h4 class="thin-header text-center my-3">No Task</h4>
        </div>

        <app-task-list (updateEvent)="propagateUpward($event)" (deleteEvent)="propagateUpward($event)"
        [filterAttribute]="filterAttribute" [filterValue]="filterValue" [searchFilter]="searchFilter"></app-task-list>

    </div>
</div>
<!-- Tabs content -->